@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Salt © 2020<br /></h2>
            <p class="text-center">Thriving community with millions of food enthusiasts</p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80" /></a>
                <h3 class="name">Top dining website for family</h3>
                <p class="description">Salt is born to help you dealing with eating place when you travel to another destination.</p>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="https://images.unsplash.com/photo-1551632436-cbf8dd35adfa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1051&amp;q=80" /></a>
                <h3 class="name">Our Company’s Philosophy</h3>
                <p class="description">We focus on results to delight our customers by continually exceeding their expectations, creating visually appealing and functioning products and building a corporate culture that rewards innovation and creativity.</p>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <a href="#"><img class="img-fluid" src="https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80" /></a>
                <h3 class="name">Never stop learning</h3>
                <p class="description">Beyond keeping things fresh to sustain your professional creativity and passion, learning keeps you relevant in our ever-changing world. And, it’s arguably the best job security tool you could have, not to mention that achieving higher levels and honing new skills is a great argument for seeking promotions and raises at work.</p>
            </div>
        </div>
    </div>
</div>
