@model Dinning_Guide.Models.User.User

@{
    ViewBag.Title = "User Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="delete">
    <div class="container">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>All rating and review of every restaurant and the restaurant made by this user will be deleted</h4>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn action-button" />
                </div>
            }
            @Html.ActionLink("Back to List", "AUserManage")
        </div>
    </div>
</div>
