@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Meet the team</h2>
            <p class="text-center">Enthusiastic people bringing joy to everyone </p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="https://images.pexels.com/photos/5591660/pexels-photo-5591660.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" />
                <h3 class="name">Bao Thanh</h3>
                <p class="title">baothanh@gmail.com</p>
                <p class="description">As an active person, sleeping is the biggest block in his career path. </p>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="https://images.pexels.com/photos/5591671/pexels-photo-5591671.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940" />
                <h3 class="name">Phan Nhan</h3>
                <p class="title">phannhan@gmail.com</p>
                <p class="description">His determination comes from many years of experiences and passion from the heart. </p>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="https://images.pexels.com/photos/5591658/pexels-photo-5591658.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940" />
                <h3 class="name">Quang Long</h3>
                <p class="title">quanglong@gmail.com</p>
                <p class="description">Apprentice boy dedicates his life to break the wall for a better self. </p>
            </div>
        </div>
    </div>
</div>