@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:right">
        Yo, This is the Logout part :v 
    <a href="~/Views/Home/Login.cshtml">Logout</a>
</div>
<div id="Introduction">
    <div class="jumbotron">
        <h1>Enhance your dining experience with Salt</h1>
        <div class="form-group">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.TextBox("search", null, new { @class = "form-rounded" , @placeholder = "Restaurants/Deliveries/Takeouts" })
                <input class="btn action-button" type="submit" name="submit" value="Search"/>
            }
        </div>
        <p></p>
        <p></p>
    </div>
</div>
<div id="Feature">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Join Salt with 100,000,000 + registered users</h2>
            <p class="text-center">Thriving community with millions of food enthusiasts</p>
        </div>
        <div class="row features">
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-map-marker icon"></i>
                <h3 class="name">Thousands of registered restaurants </h3>
                <p class="description">Restaurant owners take this opportunity on Salt to promote their business. Why don't you give yourself a try?</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-list-alt icon"></i>
                <h3 class="name">Dedicated community</h3>
                <p class="description">Get in touch with nice people helping you in this maze of food. Not only ordinary users but also famous Youtubers! </p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-leaf icon"></i>
                <h3 class="name">Enjoy cuisine like never before</h3>
                <p class="description">Salt categorizes restaurants in detail: type of cuisine, location, price, rating, etc. This helps the community to find and select directly the desired place.</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <i class="fa fa-plane icon"></i>
                <h3 class="name">Access to reviews and ratings anywhere</h3>
                <p class="description">An account is not necessary - Just type on the Search bar and Go!</p>
            </div>
        </div>
    </div>
</div>
